<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Age Calculator</title>
        <link rel="stylesheet" href="/static/style.css">

    </head>
    <body>
        <h1>Age Calculator</h1>
        <form method="POST">
            <label for="birth_year">Enter Your Birth Year</label>
            <input type="number" id="birth_year" name="birth_year" required><br>

        </form>
    </body>
</html>